---
export const events = [
  {
    title: "The Ollie Anniversary Show",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/ajR6.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT A",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/CAgZS.png",
    desc: `
      <div>
        22222 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT B",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT C",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/ajR6.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT D",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/CAgZS.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT E",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT F",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/ajR6.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT G",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/CAgZS.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT H",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT I",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/ajR6.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT J",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/CAgZS.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT K",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT L",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT M",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT N",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
  {
    title: "EVENT O",
    date: "May 12, 2023",
    thumb: "https://m1r.ai/xXvZ.png",
    desc: `
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        <div class="text-right">-Wild Zomball</div>
      </div>
    `,
    slides: [
      {
        big: "https://m1r.ai/ajR6.png",
        thumb: "https://m1r.ai/ajR6.png",
        title: "hololive STAGE World Tour ’25",
        desc: "—Synchronize— · July–December 2025",
        credit: "@hololivetv",
      },
      {
        big: "https://m1r.ai/CAgZS.png",
        thumb: "https://m1r.ai/CAgZS.png",
        title: "Ollie & Friends DJ Night",
        desc: "Late Night Collab · June 20 2024",
        credit: "@ollie_kureiji",
      },
      {
        big: "https://m1r.ai/xXvZ.png",
        thumb: "https://m1r.ai/xXvZ.png",
        title: "Ollie Underworld Festival",
        desc: "Jakarta Special Showcase · June 18 2024",
        credit: "@zomrade_art",
      },
    ],
  },
];
---
