---
export const events = [
    {
        title: "Kureiji Ollie's Debut!",
        date: "Dec 4, 2020",
        thumb: "https://m1r.ai/HzmQn.png",
        desc: `
    <div>
      It was an exciting day, a zombie idol is about to shake the world, starting from this moment!
      <div class="text-right">- altersky</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/HzmQn.png",
                thumb: "https://m1r.ai/HzmQn.png",
                title: "Kureiji Ollie's Debut!",
                desc: "It was an exciting day, a zombie idol is about to shake the world, starting from this moment!",
                credit: "- altersky",
            },
        ],
    },
    {
        title: "Ollie's Do Not Subscribe 1,000,000",
        date: "Oct 24, 2022",
        thumb: "https://m1r.ai/MkKoz.jpg",
        desc: `
    <div>
    For Ollie's 1,000,000 subscriber milestone, Ollie streamed an Unsubathon : a unique subathon where the goal is to get people to unsubscribe to delay her milestone. This did not work.
      <div class="text-right">- Andrew!</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/MkKoz.jpg",
                thumb: "https://m1r.ai/MkKoz.jpg",
                title: "Ollie's Do Not Subscribe 1,000,000",
                desc: "For Ollie's 1,000,000 subscriber milestone, Ollie streamed an Unsubathon : a unique subathon where the goal is to get people to unsubscribe to delay her milestone. This did not work.",
                credit: "altersky",
            },
            {
                big: "https://m1r.ai/sHgl.jpg",
                thumb: "https://m1r.ai/sHgl.jpg",
                title: "For Ollie's 1,000,000 subscriber milestone, Ollie streamed an Unsubathon : a unique subathon where the goal is to get people to unsubscribe to delay her milestone. This did not work.",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
        ],
    },
    {
        title: "Olivia Debut",
        date: "Jul 10, 2021",
        thumb: "https://m1r.ai/cmChn.jpg",
        desc: `
    <div>
    Ollie's alternate world / parallel fiction self, Olivia debuted! This is the first opening of Ollie's alternate world portal.
      <div class="text-right">- Andrew!</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/cmChn.jpg",
                thumb: "https://m1r.ai/cmChn.jpg",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
        ],
    },
    {
        title: "Open Membership",
        date: "Mar 7, 2021",
        thumb: "https://m1r.ai/2GAt.jpg",
        desc: `
    <div>
    Kureiji Ollie opened her YouTube channel membership with a burst of chaotic charm and heartfelt energy, inviting fans to officially become part of the Zomily—her beloved community of supporters.
      <div class="text-right">- AkaneDoko</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/2GAt.jpg",
                thumb: "https://m1r.ai/2GAt.jpg",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
            {
                big: "https://m1r.ai/T2VI.png",
                thumb: "https://m1r.ai/T2VI.png",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
        ],
    },
    {
        title: "2nd Outfit Reveal",
        date: "Aug 16, 2021",
        thumb: "https://m1r.ai/8tpcR.jpg",
        desc: `
    <div>
    Kureiji Ollie’s second outfit reveal, a dazzling celebration of Indonesian heritage, fashion, and chaotic charm, inspired by traditional Indonesian and Javanese motifs—complete with vibrant patterns, ceremonial flair, and even bridal aesthetics.
      <div class="text-right">- AkaneDoko</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/8tpcR.jpg",
                thumb: "https://m1r.ai/8tpcR.jpg",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
            {
                big: "https://m1r.ai/lUhZb.png",
                thumb: "https://m1r.ai/lUhZb.png",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
        ],
    },
    {
        title: "Mama Lillie debut",
        date: "Apr 1, 2022",
        thumb: "https://m1r.ai/kOhiW.jpg",
        desc: `
    <div>
    Mama Lillie’s debut on Ollie’s channel. Streamed on April 1st, 2022, the event was no prank—it was a heartfelt, hilarious, and emotionally rich stream where Ollie introduced her real-life mother to fans.
      <div class="text-right">- AkaneDoko</div>
    </div>
  `,
        slides: [
            {
                big: "https://m1r.ai/kOhiW.jpg",
                thumb: "https://m1r.ai/kOhiW.jpg",
                title: "hololive STAGE World Tour ’25",
                desc: "—Synchronize— · July–December 2025",
                credit: "@hololivetv",
            },
        ],
    },
];
---
