<div id="container" class="h-screen">
  <div class="px-14 bg-[#E90246]">
    <div
      class="slider relative bg-[url(/upper-bar-bg.png)] w-full h-42 bg-contain reapeat-x"
    >
      <div class="absolute top-0 left-0 w-full h-full">
        <div class="flex justify-between my-9 -mx-10">
          <img
            src="./left-button.png"
            alt="left"
            class="cursor-pointer hover:translate-y-1 duration-300 active:translate-y-2 h-24"
          />
          <img
            src="./right-button.png"
            alt="right"
            class="cursor-pointer hover:translate-y-1 duration-300 active:translate-y-2 h-24"
          />
        </div>
      </div>
    </div>
  </div>
  <main class="home pt-8">
    <div class="mx-24">
      <div class="flex justify-center w-full">
        <div
          class="w-full h-[50vh] overflow-hidden bg-[url(https://m1r.ai/ajR6.png)] bg-cover bg-top"
        >
        </div>
      </div>
      <div class="flex mt-6 gap-8">
        <div class="flex gap-4 w-1/2">
          <div>
            <img src="/ollie-blink.gif" class="w-80" alt="" />
          </div>
          <div>
            <div>
              <img src="/logo.png" alt="" class="w-48" />
            </div>
            <div class="flex justify-between gap-8 mt-4">
              <div class="relative">
                <img
                  src="/button-submission-hover.png"
                  alt=""
                  class="w-64 absolute opacity-0 hover:opacity-100 duration-300"
                />
                <img src="/button-submission.png" alt="" class="w-64" />
              </div>
              <div class="relative">
                <img
                  src="/button-whosollie-hover.png"
                  alt=""
                  class="w-64 absolute opacity-0 hover:opacity-100 duration-300"
                />
                <img src="/button-whosollie.png" alt="" class="w-64" />
              </div>
              <div class="relative">
                <img
                  src="/button-credits-hover.png"
                  alt=""
                  class="w-64 absolute opacity-0 hover:opacity-100 duration-300"
                />
                <img src="/button-credits.png" alt="" class="w-64" />
              </div>
            </div>
          </div>
        </div>
        <div class="text-white text-4xl w-1/2">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          <div class="text-right">-Wild Zomball</div>
        </div>
      </div>
    </div>
    <div class="text-white bg-[#E90246] text-center py-4 h-full">
      Not affiliated with COVER Corp., hololive, or holostars talents in any
      way.
    </div>
  </main>
</div>
